<h1>Welcome to the Articles Index!</h1>
<% @articles.each do |article| %>
<h4>Title:</h4> <%= article.title %><br>
<h4>Body:</h4> 
<% article.snapshots.each do |snapshot| %>
<%= snapshot.body.html_safe %><br>
<%= link_to 'Show', article_path(article) %>
<%= link_to 'Edit', edit_article_path(article) %>
<% end %>
<% end %>
<p>
	Create a <a href='articles/new'>new</a> article!
</p>