

<!-- 
.results
  - @search.each_hit_with_result do |hit, post|
    .result
      %h2= h post.title
      %h6== (#{h hit.score})
      %p= h truncate(post.body, :length => 100)
.pagination
  = will_paginate(@search.results) -->


<div class='results'>
	<% @search.each_hit_with_result do |hit, post| %>
		<div class='result'>
			<h2><%= post.title %></h2>
			<h6><%= #{hit.score}%></h6>
			<p> <%= truncate(post.body, length: 100)%></p>
		</div>
		</div class ='pagination'>
			<% will_paginate(@search.results) %>
		</div>
	<% end %>
</div>