<p>
  <strong>Group Name:</strong>
  <div>
  <%= @group.name %>
  </div>
  <div>
  <%= link_to 'Destroy', group_path(@group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </div>
</p>

<%= link_to 'Back', groups_path %>
 
