<h1>welcome to rails wiki</h1>
<h3>welcome text goes here and here and here and here and here and here and here</h3>


<% if user_signed_in?
 %>
<h5><%= link_to "Create your own wiki today!", new_wiki_path %></h5>

<% else %>

<h5><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up to create a rails wiki today!", new_user_registration_path %></h5>


<% end %>


<h4>Featured Articles:</h4>
  <% @articles.each do |article| %>
  <% if article.featured? %>
    <div><%= article.title %></div>
  <% end %>

  <% end %> 

