<h1>welcome to rails wiki</h1>
<h3>welcome text goes here and here and here and here and here and here and here</h3>


<% if logged_in %>
<h5><%= link_to "Create your own wiki today!", new_group_path %></h5>


<h4>Featured Articles:</h4>
  <% @articles.each do |article| %>
  <% if article.featured? %>
    <div><%= article.title %></div>

  <% end %>

  <% end %> 

