<h2>available wikis:</h2>


  <% @wikis.each do |wiki| %>
    <div class="wiki-name"><%= link_to wiki.name, wiki_path(wiki) %></div>
    <div class="edit-wiki-link"><%= link_to 'edit this wiki', edit_wiki_path(wiki) %></div>
  <% end %>

  <div class="create-new-wiki-link"><%= link_to "don't see a wiki you like? create a new wiki!", new_wiki_path %></div>



