<h1>create a new wiki:</h1>

<%= form_for :wiki, url: wikis_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "input-field" %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
