<div class ="container">


  <h2 class="title-for-line">create a new wiki:</h2>

  <%= form_for :wiki, url: wikis_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "input-field" %>
    <p>
      <%= f.submit "submit", class: "button" %>
    </p>
  <% end %>

</div>
