<h1>Revision History</h1>
<% @snapshots.each do |snapshot| %>
<b>Snapshot:</b> <%= snapshot.body.html_safe %>
<b>Created:</b> <%= snapshot.created_at %><br>
<b>Updated:</b> <%= snapshot.updated_at %><br>
<% end %>